<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logistics.dao.mapper.CallbackinfoMapper" >
  <resultMap id="BaseResultMap" type="com.logistics.pojo.Callbackinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bill_id" property="billId" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="dial_no" property="dialNo" jdbcType="VARCHAR" />
    <result column="finally_dial_time" property="finallyDialTime" jdbcType="DATE" />
    <result column="goods_bill_id" property="goodsBillId" jdbcType="VARCHAR" />
    <result column="locked" property="locked" jdbcType="BIT" />
    <result column="success" property="success" jdbcType="BIT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="write_time" property="writeTime" jdbcType="DATE" />
    <result column="writer" property="writer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bill_id, bill_type, content, dial_no, finally_dial_time, goods_bill_id, locked, 
    success, type, write_time, writer
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.logistics.pojo.CallbackinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from callbackinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from callbackinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from callbackinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.logistics.pojo.CallbackinfoExample" >
    delete from callbackinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.logistics.pojo.Callbackinfo" >
    insert into callbackinfo (id, bill_id, bill_type, 
      content, dial_no, finally_dial_time, 
      goods_bill_id, locked, success, 
      type, write_time, writer
      )
    values (#{id,jdbcType=INTEGER}, #{billId,jdbcType=VARCHAR}, #{billType,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{dialNo,jdbcType=VARCHAR}, #{finallyDialTime,jdbcType=DATE}, 
      #{goodsBillId,jdbcType=VARCHAR}, #{locked,jdbcType=BIT}, #{success,jdbcType=BIT}, 
      #{type,jdbcType=VARCHAR}, #{writeTime,jdbcType=DATE}, #{writer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.logistics.pojo.Callbackinfo" >
    insert into callbackinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billId != null" >
        bill_id,
      </if>
      <if test="billType != null" >
        bill_type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="dialNo != null" >
        dial_no,
      </if>
      <if test="finallyDialTime != null" >
        finally_dial_time,
      </if>
      <if test="goodsBillId != null" >
        goods_bill_id,
      </if>
      <if test="locked != null" >
        locked,
      </if>
      <if test="success != null" >
        success,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="writeTime != null" >
        write_time,
      </if>
      <if test="writer != null" >
        writer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="billId != null" >
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="billType != null" >
        #{billType,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="dialNo != null" >
        #{dialNo,jdbcType=VARCHAR},
      </if>
      <if test="finallyDialTime != null" >
        #{finallyDialTime,jdbcType=DATE},
      </if>
      <if test="goodsBillId != null" >
        #{goodsBillId,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=BIT},
      </if>
      <if test="success != null" >
        #{success,jdbcType=BIT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null" >
        #{writeTime,jdbcType=DATE},
      </if>
      <if test="writer != null" >
        #{writer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.logistics.pojo.CallbackinfoExample" resultType="java.lang.Integer" >
    select count(*) from callbackinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update callbackinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.billId != null" >
        bill_id = #{record.billId,jdbcType=VARCHAR},
      </if>
      <if test="record.billType != null" >
        bill_type = #{record.billType,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.dialNo != null" >
        dial_no = #{record.dialNo,jdbcType=VARCHAR},
      </if>
      <if test="record.finallyDialTime != null" >
        finally_dial_time = #{record.finallyDialTime,jdbcType=DATE},
      </if>
      <if test="record.goodsBillId != null" >
        goods_bill_id = #{record.goodsBillId,jdbcType=VARCHAR},
      </if>
      <if test="record.locked != null" >
        locked = #{record.locked,jdbcType=BIT},
      </if>
      <if test="record.success != null" >
        success = #{record.success,jdbcType=BIT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.writeTime != null" >
        write_time = #{record.writeTime,jdbcType=DATE},
      </if>
      <if test="record.writer != null" >
        writer = #{record.writer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update callbackinfo
    set id = #{record.id,jdbcType=INTEGER},
      bill_id = #{record.billId,jdbcType=VARCHAR},
      bill_type = #{record.billType,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      dial_no = #{record.dialNo,jdbcType=VARCHAR},
      finally_dial_time = #{record.finallyDialTime,jdbcType=DATE},
      goods_bill_id = #{record.goodsBillId,jdbcType=VARCHAR},
      locked = #{record.locked,jdbcType=BIT},
      success = #{record.success,jdbcType=BIT},
      type = #{record.type,jdbcType=VARCHAR},
      write_time = #{record.writeTime,jdbcType=DATE},
      writer = #{record.writer,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.logistics.pojo.Callbackinfo" >
    update callbackinfo
    <set >
      <if test="billId != null" >
        bill_id = #{billId,jdbcType=VARCHAR},
      </if>
      <if test="billType != null" >
        bill_type = #{billType,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="dialNo != null" >
        dial_no = #{dialNo,jdbcType=VARCHAR},
      </if>
      <if test="finallyDialTime != null" >
        finally_dial_time = #{finallyDialTime,jdbcType=DATE},
      </if>
      <if test="goodsBillId != null" >
        goods_bill_id = #{goodsBillId,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="success != null" >
        success = #{success,jdbcType=BIT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null" >
        write_time = #{writeTime,jdbcType=DATE},
      </if>
      <if test="writer != null" >
        writer = #{writer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.logistics.pojo.Callbackinfo" >
    update callbackinfo
    set bill_id = #{billId,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      dial_no = #{dialNo,jdbcType=VARCHAR},
      finally_dial_time = #{finallyDialTime,jdbcType=DATE},
      goods_bill_id = #{goodsBillId,jdbcType=VARCHAR},
      locked = #{locked,jdbcType=BIT},
      success = #{success,jdbcType=BIT},
      type = #{type,jdbcType=VARCHAR},
      write_time = #{writeTime,jdbcType=DATE},
      writer = #{writer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>